pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1
nltk==3.9.1
gensim==4.3.3
spacy==3.7.5
openai==1.41.0
PyPDF2==3.0.1
pyLDAvis==3.4.1
matplotlib==3.9.1.post1
plotly==5.23.0
newspaper3k==0.2.8
lxml_html_clean==0.2.0
textblob==0.18.0.post0
transformers==4.44.0
torch==2.4.0
shap==0.46.0
embedchain==0.1.121
nbformat==5.10.4
pymongo==4.10.1